:root {
    /* --blue: #b1c5c3; */
    --dark-green: #475733;
    --light-green: #81865e;
    --light-pink: #f0d0c1;
    --dark-pink: #f49b95;
    --fuscia: #961035;
   }

header {
    background-color: var(--dark-green);
    color: var(--dark-pink);
    width: 100%;
    position: relative;
    margin-top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: var(--light-green);
    
}

.nav {
    display: flex;
    justify-content: right;
}

.nav-link {
    background-color: var(--fuscia);
    color: var(--light-pink);
}

.nav-tabs .nav-link.active {
    background-color: var(--light-pink);
    color: var(--fuscia);
}



.nav {
    background-color: var(--light-green);
   --bs-nav-link-hover-color: var(--light-green);
}