:root {
    /* --blue: #b1c5c3; */
    --dark-green: #475733;
    --light-green: #81865e;
    --light-pink: #f0d0c1;
    --dark-pink: #f49b95;
    --fuscia: #961035;
   }

.header {
    background-color: var(--dark-green);
    color: var(--light-pink);
    height: 100px;
    text-align: center;
    padding: 20px 0;
}